<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="http://simpleicon.com/wp-content/uploads/wifi-symbol-1.png" type="image/x-icon" />

    <title>The Internet</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Added Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        {{#if blogset}}
        <a class="navbar-brand js-scroll-trigger" href="/homepage">The Internet</a>
        {{else if blogpost}}
        <a class="navbar-brand js-scroll-trigger" href="/homepage">The Internet</a>
        {{else}}
        <a class="navbar-brand js-scroll-trigger" href="#page-top">The Internet</a>
        {{/if}}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            {{#if user}}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/addblogpost">Blog</a>
            </li>
            {{else if blogset}}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/blog/catagories">Catagories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/blog">All</a>
            </li>
            {{else if blogpost}}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/blog/catagories">Catagories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/blog">All</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#social">Social</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="blog">Blog</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    {{#if blogset}}
    <header class="masthead" style="background-image: url('../img/blog/home-bg.jpg')">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To The Blog!</div>
          <div class="intro-heading text-uppercase">Are We Ready to Learn</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#">Read More</a>
        </div>
      </div>
    </header>
    {{else if blogpost}}
    {{#info}}
    <header class="masthead2" style="background-image: url({{{backgroundimage}}})">
      <div class="overlay"></div>
      <div class="container" style="margin: auto">
        <div class="row" style="display: flex">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading" >
              <h1>{{title}}</h1>
              <h2 class="subheading">{{subtitle}}</h2>
              <span class="meta">Posted by
                <a href="#">{{author}}</a>
                on {{date}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    {{/info}}
    {{else}}
    <header class="masthead" style="background-image: url('../img/header-bg.jpg')">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To The Internet!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#interests">Tell Me More</a>
        </div>
      </div>
    </header>
    {{/if}}
    <!--Might need to change the class, or add the class to the css file -->
    {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{{body}}}

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">The Internet 2017</span>
              {{#if blogpost}}
              {{#info}}
              <span class="copyright" padding-left:55em > &emsp; &emsp; Views:  {{views}}</span>
              {{/info}}
              {{else}}
              <span class="copyright" padding-left:55em > &emsp; &emsp; Views:  {{count}}</span>
              {{/if}}
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/jackers723">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://facebook.com/jack.wolfeiii">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/jack-wolfe-iii-0a2b9376/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">
                <a href="login">OH</a><!-- figure out how to make it so this doesnt highlight and doesnt look like a link -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/agency.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    
    <!-- Blog JavaScript-->
    <script src="../js/clean-blog.min.js"></script>

  </body>

</html>
